#bar {
  padding: 10px;
}

box {
  padding: 10px;
}

#box-left {
  background: green;
}

#box-center {
  background: black;
}

#box-right {
  background: blue;
}

.tab {
  background: purple;
  padding: 10px;
  border-radius: 3px;
  margin: 0 1px;
}

.focused {
  background: black;
}
